.carousel {
    margin-top: 81px;
}

.carousel-inner {
    cursor: pointer;
}

.carousel-control-prev {
    justify-content: flex-start;
    padding-left: 30px;
}

.carousel-control-next {
    justify-content: flex-end;
    padding-right: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}